<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

   
      
    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main">
      <div class="nav-container">
        <div class="navbar">
          <span id="nav-item">
            <a href='{% url "home" %}' style="font-family: cursive;font-size: 30px;">Du Quantum Transport Lab</a>
          </span>
          <span id="nav-item">
            <a href='{% url "people" %}'>People</a>
          </span>
          <span id="nav-item">
            <a href='{% url "publication" %}'>Publication</a>
          </span>
          <span id="nav-item">
            <a href='{% url "research" %}'>Research</a>
          </span>
          <span id="nav-item">
            <a>Link</a>
          </span>
        </div>
      </div>
      <div class="main-container">
        <div class="main-left-container">
          <img src='{% static "Ricelogosmall.jpg" %}' alt="Ricelogo" width=215 height=73/>
          <div class="left-info">
            Principal Investgator<br /><br />
            RuiRui Du<br /><br />
            <a href='#'>rrd@rice.edu</a><br /><br />
            Rice University<br /><br />
            Physics & Astronomy Dept<br /><br />
            Dell Butcher Hall 170<br /><br />
            1900 Rice Blvd Ent.20<br /><br />
            Houston TX 77005<br /><br />
            Office: 713-348-5780<br /><br />
            Lab: 713-348-5719<br /><br />
            <img src='{% static "DOElogosm.jpg" %}' alt="DOE" width=100 height=100 /><br />
            <img src='{% static "nsf4csm.jpg" %}' alt="nsf" width=100 height=100 /><br />
            <img src='{% static "lucentlogosm.jpg" %}' alt="lucent" width=215 height=65/><br />
            <img src='{% static "sandialogosm.jpg" %}' alt="sandia" width=163 height=78/><br />
          </div>
        </div>
        <div class="main-right-container">
            {% block home %}
            {% endblock %}
            {% block people %}
            {% endblock %}
            {% block publication %}
            {% endblock %}
            {% block research %}
            {% endblock %} 
            {% block exciton %}
            {% endblock %}
            {% block fqhe %}
            {% endblock %}
            {% block magneto-transport %}
            {% endblock %}
            {% block many-particle %}
            {% endblock %}
            {% block microwave %}
            {% endblock %}
            {% block nano-electronics %}
            {% endblock %}
            {% block qshe %}
            {% endblock %}
            {% block quantum-well %}
            {% endblock %}
            {% block shpm %}
            {% endblock %}
        </div>
      </div>
   {% include 'navbar.html'%}
   
    
    

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
