{% extends 'base.html' %}
{% load static %}
{% block exciton %}
<div class='home-container' style='text-align: left;'>
<h4> Exciton States in InAs/GaSb QWs with a AlGaSb Tunneling Barrier <em>(Ruiyuan Liu)</em></h4>
<p>
    Although there have been a number of proposals aiming to realize exciton condensation and exciton superfluidity
    in electron-hole double-layers in quantum heterostructures, to date the experiments largely remain inconclusive,
    with the exception of QH bilayers in GaAs/AlGaAs materials, where countflow superfluidity has be demonstrated.
    Experimentally, e-h bilayers  can be realized in InAs/GaSb system with a suitable tunneling barrier between the
    two layers. Our goal is to explore the condensed phase of excitons in this novel material without optical pumping
    or magnetic fields. FIG. 3 illustrates an earlier theoretical proposal by Naveh and Laikhtman in 1996
    <em style="color: rgb(34, 216, 231);">[Phys. Rev. Lett. 77, 900 (1996)]</em> for realizing exciton condensation in InAs/GaSb QWs, where the gap energy of the
    exciton ground state is calculated. In optically pumped exciton system, the effective gap E<sub>g1</sub>=E<sub>c1</sub>
    -E<sub>v1</sub> &#8811 &#8739 E<sub>bind</sub> &#8739
    (where E<sub>c1</sub> or E<sub>v1</sub> is the respective first subband energy, and |Ebind| is the e-h binding  energy),  only
    non-equilibrium and dilute e-h excitons can be formed. In semiconductors with a very narrow gap E<sub>g1</sub><&#8739E<sub>bind</sub>&#8739,
    excitons are formed spontaneously. Beyond this, very recently it is proposed that in inverted InAs/GaSb QWs the
    exciton state could be topologically non-trivial, forming a topological exciton condensate exhibiting gapless edge
    states. 
</p>
<p>
	Towards discovering bilayer exciton condensations, we have already started observing exciton insulator in
        InAs/GaSn with various barrier thickness. In order to study the interactions between the two layers,
        we processed devices with a flip-chip technique, where gates were placed on both sides of the wafer within
        a micrometer distance from respective layers. Additional gates were placed on top of the contact arms to
        facilitate independent contacts to the individual layer. This opens the way for drag and counterflow
        experiments, which were previously established for the QH exciton bilayers.

</p>
</div>
{% endblock%}