{% extends 'base.html' %}
{% load  static %}
{% block microwave %}
<div class='home-container' style='text-align: left;'>
<h3>Microwave Resonance of Quantum Hall Droplets and Helical Edge Devices <em>(Jie Zhang)</em>
</h3>

        <figure style="display: inline-block;">
        <img src='{% static "/media/microwave1.jpg" %}' alt="utracold" width="393" height="197" style="float: right;"/>
        <figcaption style="width: 393px;">FIG.1 left: Schematics of chiral edge states in a disc sample of the Quantum Hall liquid. 
Similar picture can be shown for helical edge states in a disc sample of the Quantum Spin  Hall insulator, where the edge states consiste of a Kremer's pair of counter-propagating edge modes.
Right: Schematics of a sample set up on a microwave Co-Planar Waveguide (CPW) with input- and output-ports (adapted
        from <em>PHYSICAL REVIEW B 88 (2013))</em>
	</figcaption>
        </figure>
   <p>
    Microwave absorption spectroscopy has been proposed as a unique tool in studies of edge physics of quantum Hall
    droplets <em style="color: rgb(34, 216, 231);">(Cano et al., Phys. Rev. B 88, 165305 (2013)</em>.
In our ongoing experiment we pattern co-planar waveguide (CPW) and micrometer-size discs on the same chip of a high-mobility GaAs/AlGaAs two-dimensional electron gas.
The CPW is placed inside a broad-band sample holder, which is fitted with millimeter wave coax cables.
The whole setup is top-loaded into a 300 mK $\mathrm{He}_{3}$ cryostat equipped with a superconducting solenoid. 
The work in Rice was funded by NSF Grant No. DMR-1207562.
The work at Princeton was partially funded by the Moore Foundation as well as the NSF MRSEC Program  (DMR-0819860).
   </p>
        <figure style="display: inline-block;">
        <img src='{% static "/media/microwave2.jpg" %}' alt="utracold" width="380" height="153" style="float: right;"/>
        <figcaption style="width: 380px;">FIG.2 Photograph of a microwave Co-Planar Waveguide (CPW) with sample.</figcaption>
        </figure>

</div>
{% endblock%}
