{% extends 'base.html' %}
{% load  static %}
{% block microwave %}
<div class='home-container' style='text-align: left;'>
<h3>Microwave Resonance of Quantum Hall Droplets and Helical Edge Devices <em>(Jie Zhang)</em></h3>
<p>
    
    Microwave absorption spectroscopy has been proposed as a unique tool in studies of edge physics of quantum Hall
    droplets <em style="color: rgb(34, 216, 231);">(Cano et al., Phys. Rev. B 88, 165305 (2013)</em>. In our ongoing experiment we pattern co-planar waveguide
    (CPW) and micrometer-size discs on the same chip of a high-mobility GaAs/AlGaAs two-dimensional electron gas.
    The CPW is placed inside a broad-band sample holder, which is fitted with millimeter wave coax cables. The whole
    setup is top-loaded into a 300 mK helium3 cryostat equipped with a superconducting solenoid. In this talk the
    construction of the spectrometer, preliminary data, and discussions will be presented. The work in Rice was funded
    by NSF Grant No. DMR-1207562. The work at Princeton was partially funded by the Moore Foundation as well as the
    NSF MRSEC Program  (DMR-0819860).    
</p>
</div>
{% endblock%}