{% extends 'base.html' %}
{% load static %}
{% block nano-electronics %}
<div class='home-container' style='text-align: left;'>
<h4> Si-Based Nanoelectronics <em>(Yang)</em></h4>
<p>
    Supported by a DARPA grant (University of Illinois) "Wavefunction engineering of individual donors for Si-based
    quantum computers" we have been participating in a quantum information project. The goal of this project is to
    place individual phosphorous (P) donors into silicon with atomic precision, and to demonstrate electrical control
    over the coupling between them as a function of their spin states. Our group is responsible for quantum transport
    measurement of the Si-nanostructures produced by this atom-scale STM patterning technique. We have shown that an
    ultradense (about 3 orders of magnitude higher than usual 2DES in GaAs) P donor sheets can be formed using this
    technique, and transport shows a metallic conduction at low temperatures. Recently a nano-sized Aharanov-Bohm ring
    has been fabricated and verified by our magnetotrasport.
</p>
</div>
{% endblock%}