{% extends 'base.html' %}
{% load static %}

{% block people %}
<div class="home-container">
    <h2>Principal Investigator</h2><br />
    <div style="float: left; margin-left: 0px;">
    <span>Dr.Rui-Rui Du</span><br />
    <a href='#'>rrd@rice.edu</a><br />
    <span>713-348-5780</span><br />
    </div>
    <div style="float: right; margin-left: 50px;">
    <img src="{% static '/media/miniDu.jpg' %}" alt="Dr.Du" width=245 height=252 />
    </div>

</div>
<div class="home-container">
    <h2>Postdoc</h2><br />
    
    <div style="float: left; margin-left: 0px;">
    <span>Ruiyuan Liu</span><br />
    <a href='#'>rl27@rice.edu</a><br />
    
    </div>
    <div style="float: right; margin-left: 50px;">
    <img src="{% static '/media/ruiyuan_pic.jpg' %}" alt="RuiyuanLiu" width=245 height=252 />
    </div>
</div>
<div class="home-container">
    <h2>Graduate Students</h2><br />
    <div style="display: block; height: 300px;">
    <div style="float: left; margin-left: 0px;">
    <span>Lingjie Du</span><br />
    <a href='#'>Lingjie.Du@rice.edu</a><br />
    
    </div>
    <div style="float: right; margin-left: 50px;">
    <img src="{% static '/media/lingjie_pic.png' %}" alt="LingjieDu" width=245 height=252 />
    </div>
    <br /><br />
    </div>
    
    <div style="display: block; height:300px;">
    <div style="float: left; margin-left: 0px;">
    <span>Jie Zhang</span><br />
    <a href='#'>jz38@rice.edu</a><br />
    
    </div>
    <div style="float: right; margin-left: 50px;">
    <img src="{% static '/media/Jie_pic.jpg' %}" alt="JieZhang" width=245 height=252 />
    </div>
    <br /><br />
    </div>
</div>
<div class="home-container">
    <h2>Visiting Students</h2><br />
    
</div>
<div class="home-container">
    <h2>Undergraduate Students</h2><br />
</div>
<div class="home-container" style="text-align: left;">
    <h2>Alumni</h2><br />
    <span>
        Dr. Michael Zudov, Ph. D 1999<br />
Thesis Title:  Millimeterwave Photoconductivity Spectrosopy in Two-Dimensional Electron Systems <br />
Present position:  Assistant Professor, School of Physics and Astronomy, <a href="http://www1.umn.edu/twincities/index.html">University of Minnesota</a>
    </span>
    
    <br />
    <br />
    <br />
    
    <span>
        Dr. Jian Zhang, Ph. D 2004<br />
Thesis Title: Thermopower and Magnetoresistance Studies in a Two-Dimensional Electron Gas <br />
Present Position: Assistant Research Professor, Department of Physics, <a href="http://www.usf.edu/">University of South Florida</a>
    </span>
    
    <br />
    <br />
    <br />
    
    <span>
        Dr. Changli Yang, Ph. D 2004 <br />
Thesis Title: New Quantum Oscillations in Magneto Transport of a High-Mobility Two-Demensional Electron System <br />
Present Position:
    </span>
    
    <br />
    <br />
    <br />
    
    <span>
        Dr. Zhouquan Yuan, Ph. D 2009 <br />
Thesis Title: Quantum Transport in Spacially Modulated Two-dimensional Electron and Hole Systems <br />
Present Position:
    </span>
    
    <br />
    <br />
    <br />
    
    <span>
        Dr. Kristjan Stone, Ph. D 2010 <br />
Thesis Title: Millimeter Wave Transmission Spectroscopy of 2D Electron and Hole Systems <br />
Present Position:

    </span>
    <br />
    <br />
    <br />
    
    <span>
        Dr. Chi Zhang, Ph. D 2010 <br />
Thesis Title: Experimental Studies of the Fractional Quantum Hall Effect and the Wigner Solids <br />
Present Position:
    </span>
    <br ><br />
    <br />
    
    <span>
Dr. Yanhua Dai, Ph. D 2011  <br />
Thesis Title: Quantum Transport and Microwave Response in Modulated High-Mobility Two-Dimensional Electron Systems <br />
Present Position:
    </span>
    <br /><br />
    <br />
    
    <span>
Dr. Ivan Knez, Ph. D 2012 <br />
Thesis Title: Transport Properties of Topological Phases in Broken Gap InAs/GaSb Based Quantum Wells <br />
Present Position:
    </span>
    
</div>
<div class="home-container">
    <h2>Past Postdoc</h2><br />
    <span>Dr. Changli Yang</span>
    <br />
    <br />
    <br />
    <span>Dr. Tauno Knuuttila</span>
</div>
<div class="home-container" >
    <h2>Visiting Professor</h2><br />
    <span >
        Dr. Li Lu, Visiting Professor (Fall Semester 05)
Deputy Director, Institute of Physics, <a href='http://www.iphy.ac.cn/'>Chinese Academy of Sciences, Beijing</a>
    </span>
    <br />
</div>
{% endblock%}