{% extends 'base.html' %}

{% block publication %}
<div class="publication-container" style='text-align: left;'>
<h1 style="text-align: center;">Selected publication</h1>
<div>
    2kF-selected conductance oscillations of high-mobility two-dimensional electron gas in Corbino devices<br />
 Xiaoxue Liu, Yuying Zhu, Lingjie Du, Changli Yang, Li Lu, Loren Pfeiffer, Kenneth West and Rui-Rui Du, Appl. Phys. Lett. 105, 182110 (2014)
<br />
<br />
<br />
Images of Edge Current in InAs/GaSb Quantum Wells<br />
EM Spanton, KC Nowack, L Du, G Sullivan, R.R. Du, KA Moler, Physical Review Letters 113 (2), 026804 (2014)
<br />
<br />
<br />
Observation of Edge Transport in the Disordered Regime of Topologically Insulating InAs/GaSb Quantum Wells <br />
I Knez, CT Rettner, SH Yang, SSP Parkin, L Du, R.R. Du, G Sullivan, Physical Review Letters 112, 026602 (2014)
<br />
<br />
<br />
Coexistence of Bulk and Surface Shubnikov-de Haas Oscillations in Bi2Se3 <br />
F Qu, C Zhang, R.R. Du, L Lu, Journal of Low Temperature Physics 170 (5-6), 397-402(2013)
<br />
<br />
<br />
Andreev reflection of helical edge modes in InAs/GaSb quantum spin Hall insulator <br />
I Knez, R.R. Du, G Sullivan, Physical review letters 109 (18), 186603(2012)
<br />
<br />
<br />
Enhancement of the v= 5/2 Fractional Quantum Hall State in a Small In-Plane Magnetic Field<br />
G Liu, C Zhang, DC Tsui, I Knez, A Levine, R.R. Du, LN Pfeiffer, KW West, Physical review letters 108 (19), 196805(2012)
<br />
<br />
<br />
Millimeter wave transmission spectroscopy of gated two-dimensional hole systems<br />
K Stone, R.R. Du, MJ Manfra, LN Pfeiffer, KW West, Applied Physics Letters 100 (19), 192104(2012)
<br />
<br />
<br />
Quantum spin Hall effect in inverted InAs/GaSb quantum wells<br />
I Knez, R.R. Du, Frontiers of Physics 7 (2), 200-207(2012)
<br />
<br />
<br />
Response of the microwave-induced cyclotron harmonic resistance spike to an in-plane magnetic field<br />
Y Dai, K Stone, I Knez, C Zhang, R.R. Du, C Yang, LN Pfeiffer, KW West, Physical Review B 84 (24), 241303(2011)
<br />
<br />
<br />
Evidence for helical edge modes in inverted InAs/GaSb quantum wells<br />
I Knez, R.R. Du, G Sullivan, Physical review letters 107 (13), 136603(2011)
<br />
<br />
<br />
Observation of a cyclotron harmonic spike in microwave-induced resistances in ultraclean GaAs/AlGaAs quantum wells<br />
Y Dai, R.R. Du, LN Pfeiffer, KW West, Physical review letters 105 (24), 246802(2010)
<br />
<br />
<br />
Finite conductivity in mesoscopic Hall bars of inverted InAs/GaSb quantum wells<br />
I Knez, R.R. Du, G Sullivan, Physical Review B 81 (20), 201301(2010)
<br />
<br />
<br />
v= 5/2 fractional quantum Hall effect at 10 T: implications for the Pfaffian state<br />
C Zhang, T Knuuttila, Y Dai, R.R. Du, LN Pfeiffer, KW West, Physical review letters 104 (16), 166801(2010)
<br />
<br />
<br />
Resistance minimum observed at Landau level filling factor v= 1/2 in ultra high magnetic fields<br />
J Zhang, R.R. Du, JA Simmons, JL Reno, Physical Review B 81 (4), 041308(2010)
<br />
<br />
<br />
Finite conductivity in mesoscopic Hall bars of inverted InAs/GaSb quantum wells <br />
I Knez, R.R. Du, G Sullivan,  Physical Review B 81 (20), 201301(R) (2010)
<br />
<br />
<br />
Magnetotransport in Zener tunneling regime in a high-mobility two-dimensional hole gas<br />
Y Dai, ZQ Yuan, CL Yang, R.R. Du, MJ Manfra, LN Pfeiffer, KW West, Physical Review B 80 (4), 041310 (2009)
<br />
<br />
<br />
Landau level spectrum in a two-dimensional hole gas in C-doped (100) GaAs/Al0.4Ga0.6As square quantum well<br />
ZQ Yuan, R.R. Du, MJ Manfra, LN Pfeiffer, KW West, Applied Physics Letters 94 (5), 052103-052103-3(2009)
<br />
<br />
<br />
Photovoltaic oscillations due to edge-magnetoplasmon modes in a very high-mobility two-dimensional electron gas<br />
K. Stone, C. L. Yang, Z. Q. Yuan, R.R. Du, L. N. Pfeiffer and K. W. West, Phys. Rev. B 76 153306 (2007).
<br />
<br />
<br />
Electron transport in laterally confined phosphorus &#948 layers in silicon<br />
S. J. Robinson, J. S. Kline, H. J. Wheelwright, J. R. Tucker, C. L. Yang, R.R. Du, B. E. Volland, I. W. Rangelow,
and T.-C. Shen, Phys. Rev. B 74, 153311 (2006).
<br />
<br />
<br />
Microwave Photoresistance of a High-Mobility Electron Gas in a Triangular Antidot Lattice<br />
Z. Q. Yuan, C. L. Yang, R.R. Du, L. N. Pfeiffer, and K. W. West, Phys. Rev. B 74, 075313 (2006).
<br />
<br />
<br />
Proceedings of the 16th International Conference on Electronic Properties of Two-Dimensional Systems (EP2DS-16),
10-15 July 2005, Albuquerque, NM, USA<br />
Edited by M. P. Lilly, W. Pan, R.R. Du, and J. A. Simmons, Physica E 34, 1-716 (2006).
<br />
<br />
<br />
Bichromatic Microwave Photoresistance of a Two-Dimensional Electron System<br />
M. A. Zudov, R.R. Du, L. N. Pfeiffer, and K. W. West, Phys. Rev. Lett. 96, 236804 (2006).
<br />
<br />
<br />
Influence of a Parallel Magnetic Fields on the Microwave-Photoconductivity in a High-Mobility 2D Electron System<br />
C. L. Yang, R.R. Du, L. N. Pfeiffer, and K. W. West, Phys. Rev. B 74, 045315 (2006).
<br />
<br />
<br />
Multiphoton Process in Microwave Photoresistance of 2D Electron System<br />
M. A. Zudov, R.R. Du, L. N. Pfeiffer, and K. W. West, Phys. Rev. B 73, 041303R (2006).
<br />
<br />
<br />
Oscillatory and Vanishing Resistance States in Microwave Irradiated 2D Electron Systems<br />
R.R. Du, M. A. Zudov, C. L. Yang, Z. Q. Yuan, L. N. Pfeiffer, and K. W. West, invited, Proceedings of the 16th
International Conference on High Magnetic Fields in Semiconductor Physics, eds. Y.-J. Wang, L. Engel, N. Bonesteel,
World Scientific, Singapore, (2005).
<br />
<br />
<br />
Oscillatory magneto-thermopower and resonant phonon drag in a high-mobility 2D electron gas<br />
Jian Zhang, S.K. Lyo, R.R. Du, J.A. Simmons, and J.L. Reno, Phys. Rev. Lett. 92, 156802 (2004).
<br />
<br />
<br />
Dissipationless 2D Electronic Transport Effect Induced By Microwaves<br />
R.R. Du, M.A. Zudov, C.L. Yang, L.N. Pfeiffer, and K.W West, invited, Physica E 22, 7 (2004).  
<br />
<br />
<br />
Observation for microwave-induced zero-conductance states in Corbino rings of a two-dimensional electron system<br />
C.L. Yang, M.A. Zudov, T.A. Knuutilla, R.R. Du, L.N. Pfeiffer, and K.W. West, Phys. Rev. Lett. 91, 096803 (2003).
<br />
<br />
<br />
Evidence for a new dissipationless effect in 2D electronic transport<br />
M.A. Zudov, R.R. Du, L.N. Pfeiffer, and K.W West, Phys. Rev. Lett. 90, 46807 (2003).
<br />
<br />
<br />
Zener tunneling between Landau orbits in a high-mobility two-dimensional electron gas<br />
C.L. Yang, J. Zhang, R.R. Du, J.A. Simmons, and J.L. Reno, Phys. Rev. Lett. 89, 076801 (2002).
<br />
<br />
<br />
Magneto-phonon resonance of two-dimensional electrons by leaky interface-acoustic phonons<br />
C.L. Yang, M.A.Zudov, J. Zhang, R.R. Du, J.A. Simmons, and J.L. Reno, Physica E 12, 443 (2002).
<br />
<br />
<br />
Ultradense phosphorous delta layers grown into silicon from PH3 molecular precursors<br />
T.C. Shen, J.Y. Ji, M.A. Zudov, R.R. Du, J.S. Kline, and J.R. Tucker, Appl. Phys. Lett. 80, 1580 (2002).
<br />
<br />
<br />
New results at half-fillings in the second and third Landau level<br />
W. Pan, J.S. Xia, E.D. Adams, R.R. Du, H.L. Stormer, D.C. Tsui, L.N. Pfeiffer, K.W. Baldwin, K.W. West, Physica B 298, 113 (2001).

<br />
<br />
<br />
Subnikov-de Haas-like oscillations in millimeterwave photoconductivity in a high-mobility two-dimensional electron gas<br />
M.A. Zudov, R.R. Du, J.A. Simmons, and J.L. Reno, Phys. Rev. B 64, 201311R (2001).
<br />
<br />
<br />
New Type of Magnetoresistance Oscillations in a High-mobility Two-dimensional Electron Gas<br />
M. A. Zudov, I. V. Ponomarev, R.R. Du, A. L. Efros, J. A. Simmons, and J. L. Reno, in Proc. of the 25th Int. Conf.
on the Physics of Semiconductors (ICPS-25, September 17-22, 2000, Osaka, Japan), Springer Proc. in Physics, edited
by N. Miura, T. Ando, (Springer-Verlag, Berlin/Heidelberg, 2001), Vol. 87, p. 901 (2001).

<br />
<br />
<br />
New class of magnetoresistance oscillations: Interaction of a two-dimensional electron gas with leaky interface phonons<br />
A. L. Efros, M.A. Zudov, I. V. Ponomarev, R.R. Du, J.A. Simmons,and J. L. Reno, Nanostructures: Physics and Technology
International Symposium (9th), St.Petersburg, Russia, June 18-22, 2001 Proceedings
<br />
<br />
<br />
New class of magnetoresistance oscillations: Interaction of a two-dimensional electron gas with leaky interface phonons<br />
M.A. Zudov, I.V. Ponomarev, A.L. Efros, R.R. Du, J.A. Simmons, and J.L. Reno, Phys. Rev. Lett. 86, 3614 (2001).
<br />
<br />
<br />
Magnetization controlled spin transport in DyAs/GaAs layers<br />
J.M. Mao, M.A. Zudov, R.R. Du, P.P. Lee, L.P. Sadwick, and R.J. Hwu, J. Appl. Phys. 87, 5170 (2000).
<br />
<br />
<br />
Ultra-low temperature study of the n =5/2 even denominator FQHE state<br />
W. Pan, J.S. Xia, V. Shvarts, E.D. Adams, R.R. Du, H.L. Stormer, D.C. Tsui, L.N. Pfeiffer, K.W. Baldwin, K.W. West,
<br />
<br />
<br />
Strongly anisotropic electronic transport in higher Landau levels<br />
R.R. Du, W. Pan, H.L. Stormer, D.C. Tsui, L.N. Pfeiffer, K.W. Baldwin, K.W. West, Physica E. 6, 36 (2000).
<br />
<br />
<br />
Strongly anisotropic electronic transport at Landau level filling factor n =9/2 and n =5/2 under tilted magnetic field<br />
P. Wei, R.R. Du, H.L. Stormer, D.C. Tsui, L.N. Pfeiffer, K.W. Baldwin, and K.W. West, Phys. Rev. Lett. 83, 824 (1999).
<br />
<br />
<br />
Strongly anisotropic transport in higher two-dimensional Landau levels<br />
R.R. Du, D.C. Tsui, H.L. Stormer, L.N. Pfeiffer, K.W. Baldwin, and K.W. West, Solid State Commun. 109, 389 (1999).
<br />
<br />
<br />
g-factor of composite fermions around n =3/2 from angular-dependent activation energy measurements<br />
R.R. Du, A.S Yeh, H.L.Stormer, D.C. Tsui, L.N. Pfeiffer, K.W. West, Phys. Rev. B55, R7351 (1997).
<br />
<br />
<br />
Composite fermions in 2x106 cm2/Vs mobility AlGaAs/GaAs heterostructures grown by MOCVD<br />
J.A. Simmons, R.R. Du, M.A. Zudov, H.C. Chui, N.E. Harff, and B.E. Hammons, Procedings of
the 23rd International Coference on the Physics of Semiconductors, Berlin, 1996, eds. M. Scheffler and R. Zimmerman, Vol.3, p. 2551 (World Scientific, Singapore, 1996).
<br />
<br />
<br />
Composite fermions: their scattering and their spin<br />
H.L. Stormer, W. Kang, S. He, R.R. Du, A.S. Yeh, D.C. Tsui, L.N. Pfeiffer, K.W. Baldwin, and K.W. West, PhysicaB 227, 164 (1996).

<br />
<br />
<br />
Composite fermions around Landau level filling factor n =3/2<br />
R.R. Du, A.S. Yeh, H.L. Stormer, D.C. Tsui, L.N. Pfeiffer, and K.W. West, Surface Science, 361/362, 26 (1996).
<br />
<br />
<br />
Fractional quantum liquid to insulator transition in the vicinity of Landau level filling n =2/9<br />
R.R. Du, D.C. Tsui, H.L. Stormer, L.N. Pfeiffer, and K.W. West, Solid State Commun. 99, 755 (1996).
<br />
<br />
<br />
The fractional quantum Hall effect around n =3/2: composite fermion with a spin<br />
R.R Du, A.S. Yeh, H.L. Stormer, D.C. Tsui, L.N. Pfeiffer, and K.W.West, Phys. Rev. Lett. 75, 3926 (1995).
</div>
</div>
{% endblock%}