{% extends 'base.html' %}

{% block publication %}
<div class="publication-container" style='text-align: left;'>
<h1 style="text-align: center;">Selected publication</h1>
<div>
    2kF-selected conductance oscillations of high-mobility two-dimensional electron gas in Corbino devices<br />
 Xiaoxue Liu, Yuying Zhu, Lingjie Du, Changli Yang, Li Lu, Loren Pfeiffer, Kenneth West and Rui-Rui Du, Appl. Phys. Lett. 105, 182110 (2014)
<br />
<br />
<br />
Images of Edge Current in InAs/GaSb Quantum Wells<br />
EM Spanton, KC Nowack, L Du, G Sullivan, RR Du, KA Moler, Physical Review Letters 113 (2), 026804 (2014)
<br />
<br />
<br />
Observation of Edge Transport in the Disordered Regime of Topologically Insulating InAs/GaSb Quantum Wells <br />
I Knez, CT Rettner, SH Yang, SSP Parkin, L Du, RR Du, G Sullivan, Physical Review Letters 112, 026602 (2014)
<br />
<br />
<br />
Coexistence of Bulk and Surface Shubnikov-de Haas Oscillations in Bi2Se3 <br />
F Qu, C Zhang, RR Du, L Lu, Journal of Low Temperature Physics 170 (5-6), 397-402(2013)
<br />
<br />
<br />
Andreev reflection of helical edge modes in InAs/GaSb quantum spin Hall insulator <br />
I Knez, RR Du, G Sullivan, Physical review letters 109 (18), 186603(2012)
<br />
<br />
<br />
Enhancement of the v= 5/2 Fractional Quantum Hall State in a Small In-Plane Magnetic Field<br />
G Liu, C Zhang, DC Tsui, I Knez, A Levine, RR Du, LN Pfeiffer, KW West, Physical review letters 108 (19), 196805(2012)
<br />
<br />
<br />
Millimeter wave transmission spectroscopy of gated two-dimensional hole systems<br />
K Stone, RR Du, MJ Manfra, LN Pfeiffer, KW West, Applied Physics Letters 100 (19), 192104(2012)
<br />
<br />
<br />
Quantum spin Hall effect in inverted InAs/GaSb quantum wells<br />
I Knez, RR Du, Frontiers of Physics 7 (2), 200-207(2012)
<br />
<br />
<br />
Response of the microwave-induced cyclotron harmonic resistance spike to an in-plane magnetic field<br />
Y Dai, K Stone, I Knez, C Zhang, RR Du, C Yang, LN Pfeiffer, KW West, Physical Review B 84 (24), 241303(2011)
<br />
<br />
<br />
Evidence for helical edge modes in inverted InAs/GaSb quantum wells<br />
I Knez, RR Du, G Sullivan, Physical review letters 107 (13), 136603(2011)
<br />
<br />
<br />
Observation of a cyclotron harmonic spike in microwave-induced resistances in ultraclean GaAs/AlGaAs quantum wells<br />
Y Dai, RR Du, LN Pfeiffer, KW West, Physical review letters 105 (24), 246802(2010)
<br />
<br />
<br />
Finite conductivity in mesoscopic Hall bars of inverted InAs/GaSb quantum wells<br />
I Knez, RR Du, G Sullivan, Physical Review B 81 (20), 201301(2010)
<br />
<br />
<br />
v= 5/2 fractional quantum Hall effect at 10 T: implications for the Pfaffian state<br />
C Zhang, T Knuuttila, Y Dai, RR Du, LN Pfeiffer, KW West, Physical review letters 104 (16), 166801(2010)
<br />
<br />
<br />
Resistance minimum observed at Landau level filling factor v= 1/2 in ultra high magnetic fields<br />
J Zhang, RR Du, JA Simmons, JL Reno, Physical Review B 81 (4), 041308(2010)
<br />
<br />
<br />
Finite conductivity in mesoscopic Hall bars of inverted InAs/GaSb quantum wells <br />
I Knez, RR Du, G Sullivan,  Physical Review B 81 (20), 201301(R) (2010)
<br />
<br />
<br />
Magnetotransport in Zener tunneling regime in a high-mobility two-dimensional hole gas<br />
Y Dai, ZQ Yuan, CL Yang, RR Du, MJ Manfra, LN Pfeiffer, KW West, Physical Review B 80 (4), 041310 (2009)
<br />
<br />
<br />
Landau level spectrum in a two-dimensional hole gas in C-doped (100) GaAs/Al0.4Ga0.6As square quantum well<br />
ZQ Yuan, RR Du, MJ Manfra, LN Pfeiffer, KW West, Applied Physics Letters 94 (5), 052103-052103-3(2009)
<br />
<br />
<br />

</div>
</div>
{% endblock%}