{% extends 'base.html' %}
{% load static %}
{% block research %}
<div class=research-top"">
<h4><a href='{% url "qshe" %}'>Quantum Spin Hall Effect in Inverted InAs/GaSb QWs <em>(Ivan Knez, Lingjie Du)</em></a></h4>


<h4><a href='{% url "exciton" %}'>Exciton States in InAs/GaSb QWs with a AlGaSb Tunneling Barrier <em>(Ruiyuan Liu)</em></a></h4>


<h4><a href='{% url "microwave" %}'>Microwave Resonance of Quantum Hall Droplets and Helical Edge Devices <em>(Jie Zhang)</em></a></h4>


<h4><a href='{% url "manyparticle" %}'>Many-Particle Physics in Ultracold 2D Electron Systems <em>(Knuuttila)</em></a></h4>



<h4><a href='{% url "quantumwell" %}'>Novel DC Transport Phenomena and Effect in a AC Driven Quantum Well <em>(Yang, Stone, Yuan)</em></a></h4>


<h4><a href='{% url "shpm" %}'>	SHPM Imaging of Current Distribution in 2DES <em>(Yuan)</em></a></h4>


<h4><a href='{% url "nanoelectronics" %}'>Si-Based Nanoelectronics <em>(Yang)</em></a></h4>


<h4><a href='{% url "fqhe" %}'> Fractional Quantum Hall Effect Experiments at NHMFL <em(Zhang, Knuuttila)</em></a></h4>


<h4><a href='{% url "magnetotransport" %}'> Magnetotransport in Two Dimensional Electron/Hole System <em>(Dai)</em></a></h4>




</div>
{% endblock%}